.el-message.el-message--warning.is-closable,
.el-message.el-message--success.is-closable,
.el-message.el-message--error.is-closable
{
    width: auto;
    height: 0.4rem;
    padding: 0.05rem;
}
.el-message i:nth-child(1){
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.05rem;
}
/* .el-message .el-icon{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.05rem;
} */
.el-message p:nth-child(2){
    padding-right: 0.2rem !important;
    width: max-content;
}
/* .el-message .el-message__content{
    padding-right: 0.2rem;
} */
.el-message i:nth-child(3){
    width: 0.3rem;
    right: 0 !important;
}