html,body{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#app{
    position: relative;
    width:100%;
    height:100%;
    box-sizing: border-box;
}
.toHome{
    width: 120px;
    height: 40px;
    position: absolute;
    left: 50px;
    top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.16rem;
}
.About{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    padding: 0.1rem;
}
