.Login{
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0.4rem 0.1rem 0.1rem;
    background: url('../image/saibe.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.LoginTitle{
    width: 100%;
    height: 40px;
    color: black;
    font-size: 0.32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.LoginBox{
    position: relative;
    width: 100%;
    height: 2.2rem;
    box-sizing: border-box;
    padding: 0.2rem 0.2rem;
}
.UserName,.PassWord{
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UserName .el-input .el-input__wrapper {
    border-radius: 0.3rem;
    padding: 0;
}
.UserName .el-input .el-input__wrapper input{
    height: 40px;
    font-size: 0.18rem;
    padding: 0 0.15rem;
    border-radius: 0.3rem;
    background-color: #f1f1f1;
}
.PassWord .el-input .el-input__wrapper {
    border-radius: 0.3rem;
    padding: 0;
}
.PassWord .el-input .el-input__wrapper input{
    height: 40px;
    font-size: 0.18rem;
    padding: 0 0.15rem;
    
    border-radius: 0.3rem;
    background-color: #f1f1f1;
}
.noAccount{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:flex-end;
    color: grey;
    font-size: 0.13rem;
    box-sizing: border-box;
    padding-right: 0.2rem;
}
.noAccount span{
    color: red;
}
.LoginAndRegisterBtn{
    width: 0.9rem;
    height: 0.35rem;
    margin: 0 auto;
    color: white;
    border: 0.01rem solid #d5d5d5;
    cursor: pointer;
    border-radius: 0.2rem;
    font-size: 0.16rem;
    box-sizing: border-box;
    text-align: center;
    line-height: 0.32rem;
}