.Main{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    overflow: auto;
}

.Main-middle{
    position: absolute;
    top: 0;
    bottom: 0.5rem;
    width: 100%;
    /* height: 100%; */
    box-sizing: border-box;
    padding: 0rem 0.15rem 0rem;
    background-color: #efeff4;
    overflow: auto;
}
.detail-top{
    width: 100%;
    height: 0.44rem;
    position: fixed;
    top: -0.01rem;
    background-color: rgb(247, 247, 247);
    z-index: 10;
    opacity: 0.3;
}
.Logo{
    position: relative;
    width: 100%;
    height: 0.44rem;
    margin-bottom: 0.15rem;
}
.Logo img{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.datainfo-item{
    position: relative;
    width: 100%;
    height: auto;
    /* background-color: rgb(255, 255, 255); */
    margin-bottom: 0.15rem;
    box-sizing: border-box;
    /* border-radius: 0.08rem; */
    padding: 0.05rem;
}
.datainfo-item-title{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 0.08rem 0.08rem 0 0;
    margin-bottom: 0.02rem;
}

.datainfo-item-body{
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    /* border-radius: 0.08rem; */
}

.ExtractDate{
    color: black;
    font-size: 0.14rem;
    font-weight: 600;
    padding: 0.05rem 0.05rem;
}
.CompanyName,.Legalpersonname,.TelePhone,.RegisterDate,.OperateAddr{
    color: black;
    font-size: 0.14rem;
    /* font-weight: 600; */
    padding: 0.05rem 0.05rem;
}
.datainfo-item-footer{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius:0 0 0.08rem 0.08rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.05rem 0.05rem;
    box-sizing: border-box;
    margin-top: 0.02rem;
}
.Mark-item-info{
    width: 0.5rem;
    height: 0.25rem;
    text-align: center;
    line-height: 0.25rem;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 172, 71);
    cursor: pointer;
    font-size: 0.12rem;
    border-radius: 0.05rem;
    
}
.Main-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f7f7f7;
    width: 100%;
    height: 0.5rem;
    box-shadow: 0 0 1px rgba(0,0,0,.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.message{
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.message span{
    font-size: 0.12rem;
}
.setting{
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.setting span{
    font-size: 0.12rem;
}
.m-iconColor,.s-iconColor{
    color: black;
}
.m-iconColor.active,.s-iconColor.active{
    color: #007aff;
}
.m-iconNameColor,.s-iconNameColor{
    color: black;
}
.m-iconNameColor.active,.s-iconNameColor.active{
    color: #007aff;
}