<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信息</title>
    <link rel="stylesheet" href="css/Global.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/Login.css">
    <link rel="stylesheet" href="css/Main.css">
    <link rel="stylesheet" href="css/setting.css">
    <link rel="stylesheet" href="css/element-plus.css">
    <link rel="stylesheet" href="css/animate.css">
</head>
<body>
    <div id="app">
        <router-view v-slot="{ Component }">
            <transition :name="transitionName" appear>
                <keep-alive v-if="$route.meta.keepAlive">
                    <component :is="Component" />
                </keep-alive>
            </transition>  
            <transition :name="transitionName" appear>
                <keep-alive v-if="!$route.meta.keepAlive">
                    <component :is="Component" :key="Component" />
                </keep-alive>
            </transition> 
        </router-view>
    </div>
    <script src="js/flexable.js"></script>
    <script src="js/vue@3.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/element-plus.js"></script>
    <script src="js/element-plus-icon.js"></script>
    <script src="js/index.js"></script>

    <!-- 数据交互部分 -->
    <script src="utils/http.js"></script>
    <script src="utils/request.js"></script>
    <script src="api/user.js"></script>
    <script src="js/tools.js"></script>
</body>
</html>